<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color</title>
</head>
<body>

<form method="post" action="results">
    <label>Color
        <select name="color">
            <option value="pink">Pink</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
        </select>

    </label>
    <input type="submit" value="Place Order">
</form>

</body>
</html>